In [22]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
file_name = 'Uber-Jan-Feb-FOIL.csv'
df = pd.read_csv(file_name)

# Convert 'date' column to datetime format to handle dates properly
df['datetime'] = pd.to_datetime(df['date'])

# Group by 'datetime' and sum the 'active_vehicles' and 'trips'
summary_df = df.groupby('datetime')[['active_vehicles', 'trips']].sum()

# Sort the summary DataFrame by 'datetime' to ensure chronological order
summary_df = summary_df.sort_index()

# Display the summary DataFrame
(summary_df)

            active_vehicles   trips
datetime
2015-01-01             6885   56437
2015-01-02             6330   39189
2015-01-03             6510   58449
2015-01-04             5838   40798
2015-01-05             6884   42752
2015-01-06             7216   52426
2015-01-07             7444   62102
2015-01-08             7999   71413
2015-01-09             7989   70296
2015-01-10             7346   78484
2015-01-11             6571   57026
2015-01-12             7364   57646
2015-01-13             7559   63499
2015-01-14             7849   63329
2015-01-15             8080   66729
2015-01-16             8273   72480
2015-01-17             7527   73363
2015-01-18             6863   72473
2015-01-19             5945   45755
2015-01-20             7592   54772
2015-01-21             7948   59147
2015-01-22             8267   65602
2015-01-23             8490   71819
2015-01-24             7643   80709
2015-01-25             6787   57895
2015-01-26             6533   43395
2015-01-27             3496   25244
2015-01-28             7815   60446
2015-01-29             8376   68994
2015-01-30             8693   83723
2015-01-31             8223   92257
2015-02-01             7752   76910
2015-02-02             7080   68980
2015-02-03             7840   70188
2015-02-04             8185   66835
2015-02-05             8833   80913
2015-02-06             8937   85940
2015-02-07             8119   81157
2015-02-08             7226   63000
2015-02-09             7688   61956
2015-02-10             8029   64766
2015-02-11             8515   72470
2015-02-12             9123   83234
2015-02-13             9604   98024
2015-02-14             8973  100345
2015-02-15             7939   89401
2015-02-16             7551   72098
2015-02-17             8403   73051
2015-02-18             8442   72243
2015-02-19             9030   88757
2015-02-20             9649  100915
2015-02-21             8765   98380
2015-02-22             7620   66440
2015-02-23             8197   71217
2015-02-24             8773   79115
2015-02-25             8830   74691
2015-02-26             9227   83568
2015-02-27             9486   88806
2015-02-28             8681   88181

In [19]:
import pandas as pd

# Read the NYC weather data CSV file into a pandas DataFrame
nyc_file_name = 'NYC.csv'
nyc_data = pd.read_csv(nyc_file_name)


# Convert the 'datetime' column to datetime format for proper sorting
nyc_data['datetime'] = pd.to_datetime(nyc_data['datetime'])

# Select the relevant columns and organize by datetime
selected_columns = ['datetime', 'tempmax', 'humidity', 'precip', 'windspeed']
organized_nyc_data = nyc_data[selected_columns]

# Sort the DataFrame by datetime to ensure proper chronological order
organized_nyc_data = organized_nyc_data.sort_values(by='datetime')

# Reset index for a clean DataFrame
organized_nyc_data.reset_index(drop=True, inplace=True)

# Display the organized NYC weather DataFrame
("\nOrganized NYC Weather Data:")
(organized_nyc_data)

     datetime  tempmax  humidity  precip  windspeed
0  2015-01-01      3.7      38.7   0.000       23.0
1  2015-01-02      5.7      42.0   0.024       27.4
2  2015-01-03      4.7      70.9  17.008       15.9
3  2015-01-04     13.0      88.5   8.886       27.2
4  2015-01-05     10.0      37.6   0.000       39.3
5  2015-01-06     -5.8      59.1   1.281       19.5
6  2015-01-07     -4.8      50.3   0.000       36.8
7  2015-01-08     -6.6      44.2   0.000       23.5
8  2015-01-09      0.4      49.2   1.759       29.4
9  2015-01-10     -5.0      40.5   0.000       20.7
10 2015-01-11      2.6      37.8   0.000       17.0
11 2015-01-12      3.6      72.6   9.296       14.1
12 2015-01-13      2.3      56.6   0.000       28.8
13 2015-01-14     -0.4      60.9   0.000       21.4
14 2015-01-15      1.2      57.4   0.000       23.7
15 2015-01-16      5.8      45.8   0.000       32.9
16 2015-01-17     -1.1      45.0   0.000       21.4
17 2015-01-18      5.1      83.9  51.681       14.4
18 2015-01-19      5.1      61.0   0.542       26.5
19 2015-01-20      4.3      50.1   0.000       15.0
20 2015-01-21      1.4      40.7   0.000       12.4
21 2015-01-22      3.9      56.1   0.000       19.0
22 2015-01-23      3.7      52.5   0.000       20.0
23 2015-01-24      3.4      81.3  18.140       21.8
24 2015-01-25      5.5      49.0   0.000       20.6
25 2015-01-26     -0.9      68.1   8.928       30.8
26 2015-01-27     -1.8      69.5   8.247       35.3
27 2015-01-28      0.6      41.0   0.000       22.2
28 2015-01-29      1.4      50.7   0.000       15.1
29 2015-01-30      2.9      64.4   2.396       32.8
30 2015-01-31     -3.3      43.7   0.000       35.1
31 2015-02-01      2.0      55.9   0.536       14.2
32 2015-02-02      0.7      83.6  27.056       28.6
33 2015-02-03     -3.9      60.0   0.000       28.6
34 2015-02-04      5.1      59.1   0.000       12.6
35 2015-02-05      4.6      49.3   0.000       35.9
36 2015-02-06     -2.8      44.2   0.000       26.2
37 2015-02-07      2.8      54.4   0.375       16.2
38 2015-02-08      1.9      80.2   0.000       23.6
39 2015-02-09     -1.1      76.0   2.208       27.4
40 2015-02-10      3.6      65.0   0.185       25.6
41 2015-02-11      0.5      52.4   0.000       21.2
42 2015-02-12      3.8      59.2   0.000       27.9
43 2015-02-13     -6.5      39.4   0.000       32.8
44 2015-02-14     -0.2      54.4   0.462       16.3
45 2015-02-15     -3.7      50.8   0.309       36.5
46 2015-02-16     -6.5      37.4   0.000       28.8
47 2015-02-17     -2.7      59.9   3.482       17.0
48 2015-02-18     -1.0      57.8   0.000       13.2
49 2015-02-19     -3.0      42.7   0.000       35.7
50 2015-02-20     -7.0      38.6   0.000       27.6
51 2015-02-21     -0.2      59.3  13.519       16.5
52 2015-02-22      5.8      75.8   4.513       15.2
53 2015-02-23      3.2      42.0   0.000       29.9
54 2015-02-24     -4.6      46.4   0.000       18.4
55 2015-02-25      2.7      47.0   0.000       22.6
56 2015-02-26     -0.3      51.4   0.000       21.1
57 2015-02-27     -1.2      44.4   0.000       24.4
58 2015-02-28     -1.7      36.4   0.000       21.9

In [24]:
import pandas as pd

# Assuming summary_df and organized_nyc_data are already defined

# Merge the two DataFrames on 'datetime'
merged_df = pd.merge(summary_df.reset_index(), organized_nyc_data, on='datetime', how='outer')

# Display the merged DataFrame
(merged_df)

     datetime  active_vehicles   trips  tempmax  humidity  precip  windspeed
0  2015-01-01             6885   56437      3.7      38.7   0.000       23.0
1  2015-01-02             6330   39189      5.7      42.0   0.024       27.4
2  2015-01-03             6510   58449      4.7      70.9  17.008       15.9
3  2015-01-04             5838   40798     13.0      88.5   8.886       27.2
4  2015-01-05             6884   42752     10.0      37.6   0.000       39.3
5  2015-01-06             7216   52426     -5.8      59.1   1.281       19.5
6  2015-01-07             7444   62102     -4.8      50.3   0.000       36.8
7  2015-01-08             7999   71413     -6.6      44.2   0.000       23.5
8  2015-01-09             7989   70296      0.4      49.2   1.759       29.4
9  2015-01-10             7346   78484     -5.0      40.5   0.000       20.7
10 2015-01-11             6571   57026      2.6      37.8   0.000       17.0
11 2015-01-12             7364   57646      3.6      72.6   9.296       14.1
12 2015-01-13             7559   63499      2.3      56.6   0.000       28.8
13 2015-01-14             7849   63329     -0.4      60.9   0.000       21.4
14 2015-01-15             8080   66729      1.2      57.4   0.000       23.7
15 2015-01-16             8273   72480      5.8      45.8   0.000       32.9
16 2015-01-17             7527   73363     -1.1      45.0   0.000       21.4
17 2015-01-18             6863   72473      5.1      83.9  51.681       14.4
18 2015-01-19             5945   45755      5.1      61.0   0.542       26.5
19 2015-01-20             7592   54772      4.3      50.1   0.000       15.0
20 2015-01-21             7948   59147      1.4      40.7   0.000       12.4
21 2015-01-22             8267   65602      3.9      56.1   0.000       19.0
22 2015-01-23             8490   71819      3.7      52.5   0.000       20.0
23 2015-01-24             7643   80709      3.4      81.3  18.140       21.8
24 2015-01-25             6787   57895      5.5      49.0   0.000       20.6
25 2015-01-26             6533   43395     -0.9      68.1   8.928       30.8
26 2015-01-27             3496   25244     -1.8      69.5   8.247       35.3
27 2015-01-28             7815   60446      0.6      41.0   0.000       22.2
28 2015-01-29             8376   68994      1.4      50.7   0.000       15.1
29 2015-01-30             8693   83723      2.9      64.4   2.396       32.8
30 2015-01-31             8223   92257     -3.3      43.7   0.000       35.1
31 2015-02-01             7752   76910      2.0      55.9   0.536       14.2
32 2015-02-02             7080   68980      0.7      83.6  27.056       28.6
33 2015-02-03             7840   70188     -3.9      60.0   0.000       28.6
34 2015-02-04             8185   66835      5.1      59.1   0.000       12.6
35 2015-02-05             8833   80913      4.6      49.3   0.000       35.9
36 2015-02-06             8937   85940     -2.8      44.2   0.000       26.2
37 2015-02-07             8119   81157      2.8      54.4   0.375       16.2
38 2015-02-08             7226   63000      1.9      80.2   0.000       23.6
39 2015-02-09             7688   61956     -1.1      76.0   2.208       27.4
40 2015-02-10             8029   64766      3.6      65.0   0.185       25.6
41 2015-02-11             8515   72470      0.5      52.4   0.000       21.2
42 2015-02-12             9123   83234      3.8      59.2   0.000       27.9
43 2015-02-13             9604   98024     -6.5      39.4   0.000       32.8
44 2015-02-14             8973  100345     -0.2      54.4   0.462       16.3
45 2015-02-15             7939   89401     -3.7      50.8   0.309       36.5
46 2015-02-16             7551   72098     -6.5      37.4   0.000       28.8
47 2015-02-17             8403   73051     -2.7      59.9   3.482       17.0
48 2015-02-18             8442   72243     -1.0      57.8   0.000       13.2
49 2015-02-19             9030   88757     -3.0      42.7   0.000       35.7
50 2015-02-20             9649  100915     -7.0      38.6   0.000       27.6
51 2015-02-21             8765   98380     -0.2      59.3  13.519       16.5
52 2015-02-22             7620   66440      5.8      75.8   4.513       15.2
53 2015-02-23             8197   71217      3.2      42.0   0.000       29.9
54 2015-02-24             8773   79115     -4.6      46.4   0.000       18.4
55 2015-02-25             8830   74691      2.7      47.0   0.000       22.6
56 2015-02-26             9227   83568     -0.3      51.4   0.000       21.1
57 2015-02-27             9486   88806     -1.2      44.4   0.000       24.4
58 2015-02-28             8681   88181     -1.7      36.4   0.000       21.9